#drop_file_zone {
    background-color: #EEE; 
    border: #999 2px dashed;
    height: 150px;
    padding: 8px;
    font-size: 18px;
    margin-top: 200px;
    margin-bottom: 200px;
}

#drag_upload_file {
  width:100%;
  margin:0 auto;
}

#drag_upload_file p {
  text-align: center;
}

#drag_upload_file #selectfile {
  display: none;
}

.dygraph-ylabel { font-size: 18px; }

#filename { font-size: 24px;  padding: 8px;}

